<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
        <nav class="navbar   justify-content-between" style="background-color:black;">
                <a class="navbar-brand" style="color:white;">Resource Engine</a>
                <div class="container">
                    <ul class="nav nav-justified">
                        <li  class='btn btn-outline-success' style='margin-right:10px;'> 
                                <a class='navbar-collapse' href="{% url 'home' %}" style="color:white;">Home</a>
                        </li>        
                    </ul>
        
        
                </div>
        </nav>