{%load staticfiles %}
<html lang="en">
  <head>
        <link rel="shortcut icon" type="image/x-icon" href="https://www.shareicon.net/data/2015/08/15/85563_search_512x512.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
  <body>

        <nav class="navbar navbar-dark  justify-content-between" style="background-color:black;">
                <a class="navbar-brand" style="color:white;" href="{% url 'home' %}">Resouce Engine</a>
        </nav>

        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-9 well well-sm col-md-offset-1 text-center" style="background-color:white;">
                    <h3><b>Our Developer's</b></h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                        <ul class="list-group">
                                <a class="list-group-item"><h3><b>Swarup Laddha</b></h3><small>(Lead System Engineer)</small></a>
                                <a class="list-group-item"><h3><b>Dinesh Yadav</b></h3><small>(Python Web Programmer)</small></a>
                                <a class="list-group-item"><h3><b>Ravindra Yadav</b></h3><small>(Lead Technical Associate)</small></a>
                                <a class="list-group-item"><h3><b>Pawan Motwani</b></h3><small>(Financial Advisor)</small></a>
                                <a class="list-group-item"><h3><b>Shriniket Deshmukh</b></h3><small>(UI designer)</small></a>           
                              </ul>
                </div>
            </div>

        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>